$blue: #89cff0;
$darkblue: #27abea;
$lightgray: #d3d3d3;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .content {
    h1 {
      text-align: center;
    }
    width: 600px;
    margin: 0 auto;

    .item {
      margin-bottom: 5px;
      padding: 15px;
      display: flex;
      justify-content: space-between;

      &__todo {
        background: $lightgray;
      }

      &__done {
        background: $blue;
        color: white;
      }

      span {
        justify-content: flex-start;
      }
    }

    .btn {
      border: none;
      color: white;
      font-weight: bold;
      margin: 0 5px 0 5px;
      padding: 4px 10px;

      &__confirm,
      &__submit {
        background-color: $darkblue;
      }

      &__delete {
        background-color: #e73636;
        color: white;
      }
    }

    form {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}
