$blue: #89cff0;
$darkblue: #27abea;
$lightgray: #d3d3d3;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  .content {
    h1 {
      text-align: center;
    }
    width: 600px;
    margin: 0 auto;

    .item {
      margin-bottom: 5px;
      padding: 15px;
      display: flex;
      justify-content: space-between;

      &__todo {
        background: $lightgray;
      }

      &__done {
        background: $blue;
        color: white;
      }

      span {
        justify-content: flex-start;
      }
    }
  }
}
